#row-titre {
    margin-top : 5%;
}

#titre {
    font-size : 1.5em;
}

.collapsible-body {
    padding : 0 !important;
}

table.highlight > tbody > tr:hover {
    background-color : #bdbdbd;
    cursor : pointer;
}

.td-libelle {
    padding-left: 5%;
}

.td-prix {
    width : 10%;
}

.row-footer {
    margin-left: 0;
    margin-right : 0;
}

#row-gestion-quantite {
    margin-top : 5%;
}


.modal-content h4 {
    padding-left: 5%;
}

.modal-content h5 {
    padding-right : 10%;
}

.modal-content h6 {
    height : 100%;
}

.bottom {
    bottom : 0;
}

.prix_total {
    font-size: 2em;
}

.prix_unitaire {
    font-size : 1em;
}