table.highlight > tbody > tr:hover {
    background-color : transparent;
}

thead{
    background-color : #bdbdbd;
}

#table-clients {
    margin-top : 5%;
}

#th_tel {
    width : 20%;
}

#th_intitule {
    width : 40%;
}