#autocomplete-input {
    margin-left: 0;
}

.modal-content > h4 {
    margin-bottom :  10%;
}
.btn-changer {
    margin-top: 5%;
    margin-bottom : 5%;
}
#bouton-valider-selection-client {
    color : white;
}

#row-mo-reduc {
    margin-top : 10%;
}

.modal-content {
    height: 100%;
    position : relative;
}

#affichage_nom_client {
    font-size: 2em;
    margin-left: 2%;
}

#affichage_mo {
    font-size : 1.2em;
    margin-left: 2%;
}

#button-selectionnez-client {
    width: 100%;
}

#colonne-selectionnez-client {
    padding: 0;
}

.btn-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    text-transform: none;
    width : 100%;
    height: 120px;
}

.btn > span > .prestation {
    font: 1.2em "Fira Sans", sans-serif;

}

.btn > span > .cout {
    font: 2.5em "Fira Sans", sans-serif;

}

.row-titre {
    margin-top: 5%;
    margin-bottom : 5%;
    font : 2em "Fira Sans", sans-serif;
}

.modal-realcontent-client {
    height : 50vh;
    margin-left : 0 !important;
    margin-right: 0 !important;
}

.modal-realcontent-mo {
    height : 15vh;
    margin-left : 0 !important;
    margin-right: 0 !important;
}

.input-field {
    margin-top : 5%;
}

.btn:hover {
    background-color: #616161;
}