.btn-centre {
    width : 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}

.gestion-txt {
    font: 1.5em "Fira Sans", sans-serif;
}

.type-txt {
    font: 2.2em "Fira Sans", sans-serif;
}

.row-buttons {
    margin-top: 20vh;
}