<!doctype html>
{% load static %}
<html lang="fr">
<head>
  <meta charset="utf-8">

  <title> {% block title %} Site de création de devis {% endblock %}
  </title>
  <meta name="description" content="{% block description %} Page accueil {% endblock %}">
  <meta name="author" content="Alexis MELO DA SILVA">

  <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<header> <img class="logo_header" src = "{% static 'img/garage.jpg' %}"><a href="{% url "accueil_site" %}">Barre de navigation</a>
    -
    <a href="{% url "creer_devis" %}">Création devis</a>
    -
    <a href=" {% url "liste_devis" %}">Liste devis </a>
</header>

<section>
    {% block contenu %}
    <p>Accueil du site</p>
    {% endblock %}
</section>


  <!--script src="js/scripts.js"></script-->
</body>
</html>