<style>
    .fixed-action-btn {
        right: 50px;
        bottom : 100px;
    }
</style>
<div class="fixed-action-btn">
  <a href="{% url 'devis_creation_ecrit' %}"class="btn-floating btn-large red tooltipped pulse" data-position="left" data-tooltip="Retourner à l'édition du devis">
    <i class="large material-icons">description</i>
  </a>
  <ul>
    <li><a href="{% url 'reset' %}" class="btn-floating grey tooltipped" data-position="left" data-tooltip="Réinitialiser le devis"><i class="material-icons">clear</i></a></li>
    <li><a href="#" class="btn-floating green tooltipped" data-position="left" data-tooltip="Sauvegarder le devis"><i class="material-icons">save</i></a></li>

  </ul>
</div>

<script>
    $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        $('.tooltipped').tooltip();

    });
</script>