{% extends "devis/devis_creation_base.html" %}

{% load static %}

{% block title %}
    Sélection de préstations au coût fixe
{% endblock %}

{% block autres_stylesheet %}
    <link href="{% static "devis/css/ajouter_prestation_cout_fixe.css"%}" rel="stylesheet">
{% endblock %}

{% block cote_gauche %}

    <div class="row center-align" id="row-titre">
        <div class="col s12"><span id="titre">Sélectionnez une catégorie, puis la préstation à ajouter</span></div>
    </div>
    <ul class="popout collapsible">
        {% for categorie in categories %}
            <li>
                <div class="collapsible-header"><i class="material-icons">miscellaneous_services</i>{{categorie.libelle}}</div>
                <div class="collapsible-body">

                    <table class="highlight striped">
                        <tbody>
                        {% for p in prestations %}

                            {% if p.categorie == categorie %}
                            <tr class="modal-trigger" onclick="openmodal('{{p.id}}'+'-modal');">
                                <td class="td-libelle">{{p.libelle}}</td>
                                <td class="td-prix">{{p.prix_total}} €</td>
                            </tr>
                            {% endif %}

                        {% endfor %}

                        </tbody>
                    </table>

                    {% for p in prestations %}

                        {% if p.categorie == categorie %}
                       <form id="{{p.id}}-modal" class="modal" action="{% url 'ajouter_prestation_fixe_en_session' %}" method="post">
                            <div class="modal-content">
                                <div class="row modal-entete valign-wrapper">
                                    <div class="col s8">
                                        <h4>{{p.libelle}}</h4>
                                    </div>
                                    <div class="col s4 right-align">
                                        <span class="prix_unitaire">(
                                            <span id="{{p.id}}-prix_unitaire">{{p.prix_total }}
                                                <span> € )</span>
                                                <span class="prix_total"> Total :
                                                    <span id="{{p.id}}-prix_total">{{p.prix_total}}</span>€
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row valign-wrapper center-align modal-realcontent" id="row-gestion-quantite">

                                    <div class="col s2 offset-s1 xl1 offset-xl4">
                                        <a class="waves-effect waves-light btn-floating grey" onclick="incrementerValeurInput('{{p.id}}-quantite',-1);"><i class="material-icons right">remove</i></a>
                                    </div>
                                    <div class="col input-field s4 xl2">

                                        {% csrf_token %}
                                        <input id="{{p.id}}-quantite" name="quantite" type="text" class="validate" min="1" value="1">
                                        <label for="{{p.id}}-quantite">Quantité</label>
                                        <input type="hidden" name="id_prestation" value="{{p.id}}">
                                        <input type="hidden" name="libelle" value="{{p.libelle}}">
                                        <input type="hidden" name="prix_unit" value="{{p.prix_total}}">

                                    </div>
                                    <div class="col s2 xl1">
                                        <a class="waves-effect waves-light btn-floating grey" onclick="incrementerValeurInput('{{p.id}}-quantite',1);"><i class="material-icons right">add</i></a>
                                    </div>
                                    <div class="col s1 xl4">
                                    </div>

                                </div>

                            </div>

                            <div class="modal-footer">
                                <div class="row center-align">
                                    <div class="col s6">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
                                    </div>
                                    <div class="col s6">
                                        <button type="submit" class="modal-close waves-effect waves-green btn">
                                            Ajouter au devis
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}

                    {% endfor %}

                </div>
            </li>

        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'global/js/initCollapsible.js' %}"></script>
    <script type="text/javascript" src="{% static 'global/js/initModal.js' %}"></script>
    <script type="text/javascript" src="{% static 'devis/js/ajouter_prestation_cout_fixe.js' %}"></script>
{% endblock %}