{% extends "base.html" %}

{% load static %}

{% block title %}
    Ensemble des clients
{% endblock %}

{% block description %}
    Affichage de ma liste de clients
{% endblock %}

{% block stylesheets %}
    <link href="{% static 'global/css/listviews.css' %}" rel="stylesheet">
    <link href="{% static 'devis/css/client_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contenu %}

    <div class="row valign-wrapper row-add-search">
        <div class="col s3">
            <a href="{% url 'ajout_client' %}" class="grey waves-effect waves-light btn">Nouveau client</a>
        </div>
        <div class="col s9">
            <div class="nav-wrapper">
              <form method="GET" action="">
                <div class="input-field">
                  <input placeholder="Rechercher un client par intitulé, adresse, téléphone, ..." id="search" type="search" name="search" required value="{{request.GET.search}}">
                  <label class="label-icon" for="search"><i id="searchIcon" class="material-icons">search</i></label>
                    <i class="material-icons" onclick="location.href='{% url 'liste_clients' %}';">close</i>
                </div>
              </form>
            </div>
        </div>
    </div>


    {% if clients %}
    <table class="striped highlight">
        <thead class="grey lighten-2">
            <tr>
                <th  id="th_intitule">Intitule</th>
                <th id="th_tel">Telephone</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clients %}
                <tr onclick="location.href=&quot;{% url 'client_detail' c.id %}&quot;">
                    <td>{{ c.intitule|title }}</td>
                    <td>{{ c.telephone.as_national|default_if_none:""}}</td>
                    <td>{{ c.adresse|truncatewords:50 }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
        <div class="row center-align row-none">
            <h6>Aucun client ne correspond à vos critères de recherche...</h6>
        </div>
    {% endif %}

        {% include "pagination.html" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'devis/js/client_liste.js' %}"></script>
{% endblock %}