{% extends "base.html" %}

{% load static %}

{% block title %}
    Ensemble des clients
{% endblock %}

{% block description %}
    Affichage de ma liste de clients
{% endblock %}

{% block stylesheets %}
    <link href="{% static 'devis/css/client_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contenu %}

    <table id="table-clients" class="striped highlight">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clients %}
                <tr>
                    <td>{{ c.nom|upper }}</td>
                    <td>{{ c.prenom|title}}</td>
                    <td>{{ c.societe}}</td>
                    <td>{{ c.adresse|truncatewords:50 }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

        {% include "devis/pagination.html" %}

{% endblock %}
