{% extends "base.html" %}

{% block title %}
    Ajout d'une préstation à la base de données
{% endblock %}

{% block description %}
    Formulaire d'ajout d'une préstation à la liste des préstations fournies par le garage
{% endblock %}

{% block contenu %}
    {% if ajout_valid %}La prestation a bien été ajoutée {% endif %}

    <form action="{% url "ajout_prestation" %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer">

    </form>
{% endblock %}