{% extends "base.html" %}

{% block title %}
    Ensemble des devis
{% endblock %}

{% load static %}

{% block stylesheets %}
    <link href="{% static "devis/css/devis_list.css" %}" rel="stylesheet" >
{% endblock %}

{% block description %}
    Affichage de tous les devis précedemment effectués
{% endblock %}

{% block contenu %}

    {% include "devis/messages.html" %}

    <table id="table-devis" class="striped highlight">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date création</th>
                <th>Client</th>
                <th>Société</th>
                <th>Date prévue</th>
            </tr>
        </thead>
        <tbody>
            {% for d in devis %}
                <tr onclick="location.href=&quot;{% url 'devis_detail' d.id %}&quot;">
                    <td>{{ d.id }}</td>
                    <td>{{ d.date_creation }}</td>
                    <td>{{ d.client.nom|upper }} {{ d.client.prenom|title }}</td>
                    <td>{{ d.client.societe }}</td>
                    <td>{{ d.date_planification }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url "ajout_devis" %}">
        <input type="submit" value="ajouter">
    </form>

    {% include "devis/pagination.html" %}





{% endblock %}