{% extends "base.html" %}

{% load static %}

{% block title %}
    Ajout d'un devis à la base de données
{% endblock %}

{% block description %}
    Formulaire d'enregistrement d'un devis
{% endblock %}

{% block contenu %}

    <form action="{% url "ajout_devis" %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer">

    </form>


{% endblock %}

{% block javascripts %}
<script src="{% static 'js/initDatepickerFrench.js' %}"></script>
<script src="{% static 'js/initSelect.js' %}"></script>
{% endblock %}