{% extends "base.html" %}

{% block title %}
    Devis {{ devis.id }}
{% endblock %}

{% load class_tag %}

{% block description %}
    Afichage du devis {{ devis.id }}
{% endblock %}

{% block contenu %}
        <p>Affichage du devis numéro {{ devis.id }} : {{devis.client.nom }} {{ devis.client.prenom }}</p>

        <hr>
        {% for ligne in devis.lignes.all %}

            {% if ligne.prestation|get_class == "PrestationCoutVariableConcrete" %}

            <p>{{ligne.prestation.vrai_libelle}} x{{ligne.quantite}} = {{ligne.prix_total}}</p>

                {% for piece in ligne.prestation.pieces_detachees.all %}
                    <p>{{piece.vrai_libelle}} {{piece.prix}}</p>
                {% endfor %}


            {% elif ligne.prestation|get_class == "PrestationPneumatique" %}

            <p>{{ligne.prestation.marque.libelle}} {{ligne.prestation.dimensions}}" x{{ligne.quantite}} = {{ligne.prix_total}}</p>

            {% elif ligne.prestation|get_class == "PrestationCoutFixe" %}

            <p>{{ligne.prestation.vrai_libelle}} x{{ligne.quantite}} = {{ligne.prix_total}}</p>
            {% elif ligne.prestation|get_class == "PrestationNouvelle" %}

            <p>{{ligne.prestation.vrai_libelle}} x {{ligne.quantite}} = {{ligne.prix_total}}</p>
            {% elif ligne.prestation|get_class == "PrestationMainOeuvre" %}

            <p>Main oeuvre : {{ligne.quantite}} Heures à {{ligne.prestation.tauxHoraire}} € = {{ligne.prix_total}}</p>

            {% endif %}

            <hr>
        {% endfor %}

        <p>Total devis : {{devis.prix_total}}</p>

        <a href="{% url 'get_pdf' devis.id %}" class="waves-effect waves-light btn"><i class="material-icons right">picture_as_pdf</i>PDF</a>

{% endblock %}