{% extends "base.html" %}

{% block title %}
    Devis {{ devis.id }}
{% endblock %}

{% load class_tag %}

{% block description %}
    Afichage du devis {{ devis.id }}
{% endblock %}

{% block contenu %}
        <p>Affichage du devis numéro {{ devis.id }} : {{devis.client.nom }} {{ devis.client.prenom }}</p>

        <hr>
        {% for ligne in devis.lignes.all %}

            {% if ligne.prestation|get_class == "PrestationCoutVariableConcrete" %}

            <p>{{ligne.prestation.libelle}} x{{ligne.quantite}} = {{ligne.prix_total}}</p>

                {% for piece in ligne.prestation.pieces_detachees.all %}
                    <p>{{piece.libelle}} {{piece.prix}}</p>
                {% endfor %}




            {% elif ligne.prestation|get_class == "PrestationPneumatique" %}

            <p>{{ligne.prestation.marque.libelle}} {{ligne.prestation.dimensions}}" x{{ligne.quantite}} = {{ligne.prix_total}}</p>






            {% elif ligne.prestation|get_class == "PrestationCoutFixe" %}

            <p>{{ligne.prestation.libelle}} x{{ligne.quantite}} = {{ligne.prix_total}}</p>






            {% endif %}

            <hr>
        {% endfor %}

        <p>Total devis : {{devis.prix_total}}</p>
{% endblock %}