{% load static %}

{% block stylesheets %}
    <link href="{% static "devis/css/devis_affichage_cote.css" %}" rel="stylesheet">
{% endblock %}

<div class="row center-align grey darken-4" id="row-devis-head">
    <span>Devis n° {{request.session.numeroProchainDevis}}</span>
</div>
<div class="row" id="row-contenu-devis">

</div>
<div class="row" id="row-total">
    <span>Total :</span>
</div>
<div class="row center-align">
    <div class="col s6">
        <i class="medium material-icons">save</i>
    </div>
    <div class="col s6">
        <i class="medium material-icons">cancel</i>
    </div>

</div>