{% extends "base.html" %}

{% block title %}
    Oral ou écrit
{% endblock %}

{% load static %}

{% block stylesheets %}
    <link href="{% static "devis/css/devis_creation_oral_ecrit.css"%}" rel="stylesheet">
{% endblock %}

{% block description %}
    Choix de faire un devis écrit ou bien oral
{% endblock %}

{% block contenu %}
    <div class="row center-align row-avec-mes-boutons">
        <div class="col m1 s0">

        </div>
        <div class="col m4 s12">
            <a href="{% url 'devis_pneu_oral' %}" class="btn-centre waves-effect waves-light btn "><span><span class="devis">Devis</span> <br><span class="type">Oral</span></span></a>
        </div>
        <div class="col s12 hide-on-med-and-up" style="min-height: 15vh;">
        </div>
        <div class="col m4 offset-m2 s12">
            <a href="{% url 'devis_creation_ecrit' %}" class="btn-centre waves-effect waves-light btn"><span><span class="devis">Devis</span> <br><span class="type">Ecrit</span></span></a>
        </div>
        <div class="col m1 s0">

        </div>

    </div>
{% endblock %}