{% extends "base.html" %}

{% block title %}
    Modification d'un devis de la base de données
{% endblock %}

{% block description %}
    Formulaire de modification d'un devis
{% endblock %}

{% block contenu %}
    {% if modif_valid %}Le devis a bien été modifié {% endif %}

    <p>Modification du devis n° {{ devis.id }}</p>
    <form action="{% url "edit_devis" numeroDevis %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer les modifications">

    </form>
{% endblock %}