{% extends "base.html" %}

{% block title %}
    Ensemble des devis
{% endblock %}

{% block description %}
    Affichage de tous les devis précedemment effectués
{% endblock %}

{% block contenu %}
     <p> Tous mes devis </p>

    {% if ajout %}<p>Votre devis a bien été ajouté <p> {% endif %}
    {% if modif %}<p>Votre devis a bien été modifié <p> {% endif %}

    {% for d in devis %}
        <div>
            <h3><a href="{% url "devis_unique" d.id %}">Devis n° {{ d.id }}</a> : {{ d.date_creation }}</h3>
            {% for pres in d.prestations.all %}
                <p>{{pres.titre}} ({{pres.prix}})</p>
            {% empty %}
                <p>Aucune préstation</p>
            {% endfor %}
        </div>
    {% empty %}

        <p> Aucun devis trouvé !</p>
    {% endfor %}

    <form action="{% url "ajout_devis" %}">
        <input type="submit" value="ajouter">
    </form>

{% endblock %}