{% extends "base.html" %}

{% block title %}
    Ensemble des prestations
{% endblock %}

{% block description %}
    Affichage de ma liste de prestations
{% endblock %}

{% block contenu %}
     <p> Toutes mes prestations </p>

    <form action="{% url "ajout_prestation" %}">
        <input type="submit" value="ajouter">
    </form>

    {% for p in prestations %}
        <p> {{ p.titre }} {{ p.prix }}€ </p>
    {% empty %}

        <p> Aucune prestation trouvée !</p>
    {% endfor %}

    {% include "devis/pagination.html" %}

{% endblock %}