{% extends "base.html" %}

{% load static %}

{% block title %}
    Ensemble des prestations avec un coût fixe
{% endblock %}

{% block description %}
    Affichage de ma liste de prestations à coût fixe
{% endblock %}

{% block stylesheets %}
    <link href="{% static 'devis/css/prestations_list.css' %}" rel="stylesheet">
{% endblock %}

{% block contenu %}
     <p> Toutes mes prestations </p>

    <table id="table-prestations" class="striped hightlight">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Catégorie</th>
                <th>Prix (€)</th>

            </tr>
        </thead>
        <tbody>
            {% for p in prestations %}
                <tr>
                    <td>{{ p.libelle }}</td>
                    <td>{{ p.categorie }}</td>
                    <td>{{ p.prix_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "devis/pagination.html" %}

{% endblock %}